In [ ]:
#WEEK 2

In [ ]:
#"""problem 1"""
#Find matching hosts and guests pairs in a way that they are both of the same gender and nationality. Output the host id and the guest id of matched pair.
#DataFrames: airbnb_hosts, airbnb_guests

#pandas solution
import pandas as pd

merged = pd.merge(airbnb_hosts, airbnb_guests, how="left", left_on=["gender", "nationality"], right_on=["gender", "nationality"])
result = merged[["host_id","guest_id"]].drop_duplicates()

#SQL solution
select distinct(host_id,guest_id) from airbnb_hosts as h left join airbnb_guests as g
on h.gender == g.gender AND h.nationality == g.nationality;

In [ ]:
#"""problem 2"""
#Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.


#pandas solution
import pandas as pd

df = pd.merge(db_employee, db_dept,how="left", left_on = ["department_id"],
right_on=["id"]
)

salary_difference=df[df["department"] == "marketing"]["salary"].max()-df[df["department"] == "engineering"]["salary"].max()
salary_difference

#SQL solution
select abs ((select max(db_employee.salary) from db_employee join db_dept
on db_employee.department_id = db_dept.id
where db_dept.department = 'engineering') -
(select max(db_employee.salary) from db_employee join db_dept
on db_employee.department_id = db_dept.id
where db_dept.department = 'marketing'));

In [ ]:
#"""problem 3"""
#Find the review_text that received the highest number of  'cool' votes. Output the business name along with the review text with the highest numbef of 'cool' votes.
#DataFrame: yelp_reviews

#pandas solution
import pandas as pd

yelp_reviews = yelp_reviews[yelp_reviews["cool"] == yelp_reviews["cool"].max()]
yelp_reviews[["business_name","review_text"]]

#SQL solution
select business_name,review_text from yelp_reviews
where cool = (select max(cool) from yelp_reviews)

In [ ]:
#"""problem 4"""
#Find the number of employees working in the Admin department that joined in April or later.
#DataFrame: worker

#pandas solution
import pandas as pd

df = worker
df = df[(df["department"] == "Admin") & (df["joining_date"].dt.month >= 4)]
result = df["worker_id"].count()

#SQL solution
select count(worker_id) from worker
where EXTRACT(month from joining_date) >= 4 
and
department = 'Admin';

In [ ]:
#"""problem 5"""
#Find all Lyft drivers who earn either equal to or less than 30k USD or equal to or more than 70k USD.
#Output all details related to retrieved records.

#pandas solution
import pandas as pd

df = lyft_drivers
df[(df["yearly_salary"] > 70000) | (df["yearly_salary"] <=30000)]

#SQL solution
select * from lyft_drivers
where yearly_salary <= 30000 or yearly_salary >70000